<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Job board HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../static/assets/css/flaticon.css">
            <link rel="stylesheet" href="../static/assets/css/price_rangs.css">
            <link rel="stylesheet" href="../static/assets/css/slicknav.css">
            <link rel="stylesheet" href="../static/assets/css/animate.min.css">
            <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="../static/assets/css/slick.css">
            <link rel="stylesheet" href="../static/assets/css/nice-select.css">
            <link rel="stylesheet" href="../static/assets/css/style.css">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="/"><img src="../static/assets/img/logo/logo.png" alt=""></a>
                            </div>  
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="#">Register</a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'register_company' %}">Register as Company</a></li>
                                                    <li><a href="{% url 'register_user' %}">Register as User</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>                 
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                    <a href="{% url 'login' %}" class="btn head-btn1">Login</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- Login Form Area Start -->
        <div class="hero__caption" style="padding-top: 100px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                        <div class="login-form">
                            <h2 class="text-center mb-4">Register Company</h2>
                            <form action="/register_company/" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="address">Address:</label>
                                    <input type="text" id="address" name="address" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="number">Phone Number:</label>
                                    <input type="number" id="number" name="number" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="url">Company URL: </label>
                                    <input type="url" id="url" name="url" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" id="password" name="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="logo">Logo</label>
                                    <input type="file" id="logo" name="logo" accept="image/*" required><br>
                                  </div>
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Form Area End -->
        <!-- Login Form Area End -->
    </main>
  <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="../static/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="../static/assets/js/owl.carousel.min.js"></script>
        <script src="../static/assets/js/slick.min.js"></script>
        <script src="../static/assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="../static/assets/js/wow.min.js"></script>
		<script src="../static/assets/js/animated.headline.js"></script>
        <script src="../static/assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="../static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="../static/assets/js/jquery.nice-select.min.js"></script>
		<script src="../static/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="../static/assets/js/contact.js"></script>
        <script src="../static/assets/js/jquery.form.js"></script>
        <script src="../static/assets/js/jquery.validate.min.js"></script>
        <script src="../static/assets/js/mail-script.js"></script>
        <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="../static/assets/js/plugins.js"></script>
        <script src="../static/assets/js/main.js"></script>
        
    </body>
</html>